<div id="menu" class="text text-center">
  <div id="space"></div>
  <div *ngIf="!authService.user">
    <h1>Please Login</h1>
    <button class="btn btn-danger" (click)="openModal(signupModal)">Sign Up</button>
    <br/>
    <button class="btn btn-info" (click)="openModal(loginModal)">Login</button>
    <br/>
    <button class="btn btn-info" (click)="githubLogin()">Login With GitHub</button>
    <br/>
    <button class="btn btn-info" (click)="googleLogin()">Login With Google</button>
  </div>
  <div *ngIf="authService.user && !gameState.gameStarted">
    <h1>Hello {{authService.user.username}}</h1>
    <button class="btn btn-info" (click)="startGame(false)">One Player</button>
    <br/>
    <button class="btn btn-info" (click)="startGame(true)">Two Player</button>
    <br/>
    <button class="btn btn-secondary" (click)="logout()">Log Out</button>
  </div>
  <div *ngIf="authService.user && gameState.gameStarted">
    <table>
      <tr>
        <th>Player(O)</th>
        <th>Tie</th>
        <th>{{gameState.isPVP ? "Player(X)" : "Computer(X)"}}</th>
      </tr>
      <tr>
        <td>{{gameState.score.player1}}</td>
        <td>{{gameState.score.tie}}</td>
        <td>{{gameState.score.player2}}</td>
      </tr>
    </table>
    <br>
    <br>
    <button class="btn btn-info" (click) = "gameState.restart()">Restart Game</button>
    <br/>
    <button class="btn btn-info"  (click) = "reset()">Reset Game</button>
    <br/>
    <button class="btn btn-secondary" (click)="backToMenu()">Back To Menu</button>
  </div>
</div>

<ng-template #loginModal let-modal>
  <div class="modal-body">
    <form #loginForm="ngForm">
      <label for="email/username">Email/Username</label>
      <input type="text" class="form-control" placeholder="Email or Username" name="email/username" [(ngModel)]="currentInput" autocomplete="off" required>
      <br/>
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="currentUser.password" autocomplete="off" required>
      <small *ngIf="loginFailed">Invalid Email/Username or Password</small>
      <button id="login-btn" type="button" class="btn btn-outline-primary btn-block" (click)="login()" [disabled]="loginForm.form.invalid">Login</button>
    </form>
  </div>
</ng-template>

<ng-template #signupModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Sign Up</h4>
  </div>
  <div class="modal-body">
    <form #signupForm="ngForm">
      <label for="username">Username</label>
      <input type="text" class="form-control" placeholder="Username (5 - 10 Characters)" name="username" [(ngModel)]="currentUser.username" autocomplete="off" required>
      <p><small *ngIf="invalidUsername">Username must be 5 - 10 long</small></p>
      <p><small *ngIf="usernameNotUnique">Username already in use</small></p>
      <label for="Email">Email</label>
      <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="currentUser.email" autocomplete="off" required>
      <p><small *ngIf="invalidEmail">Invalid Email</small></p>
      <p><small *ngIf="emailNotUnique">Email already in use</small></p>
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password (8 - 16 Characters)" name="password" [(ngModel)]="currentUser.password" autocomplete="off" required>
      <p><small *ngIf="invalidPassword">Password must be 8 - 16 long</small></p>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" placeholder="Re-enter Your Password" name="confirmPassword" [(ngModel)]="confirmPassword" autocomplete="off" required>
      <p><small *ngIf="passwordNotMatch">Password does not match</small></p>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
    <button id="signup-btn" type="button" class="btn btn-outline-primary" (click)="signup()" [disabled]="signupForm.form.invalid">Sign Up</button>
  </div>
</ng-template>
