<div id="menu" class="text text-center">
  <div id="space"></div>
  <div *ngIf="!gameState.gameStarted">
    <h1>Start Game</h1>
    <button class="btn btn-info" (click)="startGame(false)">One Player</button>
    <br/>
    <button class="btn btn-info" (click)="startGame(true)">Two Player</button>
  </div>
  <div *ngIf="gameState.gameStarted">
    <table>
      <tr>
        <th>Player(O)</th>
        <th>Tie</th>
        <th>{{gameState.isPVP? "Player(X)" : "Computer(X)"}}</th>
      </tr>
      <tr>
        <td>{{gameState.score.player1}}</td>
        <td>{{gameState.score.tie}}</td>
        <td>{{gameState.score.player2}}</td>
      </tr>
    </table>
    <br>
    <br>
    <button class="btn btn-info" (click) = "gameState.restart()">Restart Game</button>
    <br/>
    <button class="btn btn-info"  (click) = "reset()">Reset Score</button>
    <br/>
    <button class="btn btn-secondary" (click)="backToMenu()">Back To Menu</button>
  </div>
</div>
