<div id="game-board">
  <div *ngIf="!gameState.gameStarted" id="title">
    <h1 class="text text-center title">Tic Tac Toe</h1>
    <img src="../../assets/tic-tac-toe.jpg" />
  </div>
  <div *ngIf="gameState.gameStarted">
    <table class="text text-center">
      <tr *ngFor="let row of boardPattern">
        <td *ngFor="let number of row">
          <div [id]="number" class="cell" (click)="clickOnBoard(number)"
            [style.color] = "gameState.boardState[number] > 1 ? 'darkcyan' : 'darkred'"
            [ngClass]="{'isWinItem': gameState.winnerRow.includes(number)}"
          >
            {{!gameState.boardState[number] ? "" : gameState.boardState[number] === 1 ? "O" : "X"}}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<ng-template #msgModal let-modal>
  <div class="modal-header custom-modal">
    <h1 class="modal-title">{{!winner ? "Draw" : winner === 1 ? "Player 1 Win" : gameState.isPVP ? "Player 2 Win" : "Computer Win"}}!</h1>
    <button class="btn btn-info btn-lg" (click)="playAgain()">Play Again</button>
  </div>
</ng-template>
